*.log
*.ctxt
.mtj.tmp/
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
/target/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.mvn/
mvnw
mvnw.cmd
secrets/
application-secret.yml
.github

# General
test.jpg
test.json
temp.png
/screens
temp*.png
/log
.run
dependency-reduced-pom.xml
**/ManualTest.java
GEMINI.md
config.properties.example
Dockerfile_local
.gitignore
CONTRIBUTING.md
README.md
flow_diagram.puml